html{
  scroll-behavior: smooth;
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin: 0;
  }
  
  h1{
    text-decoration: underline;
  }
  
  .choosefont{
    border-width: 5px;
    border-color: red;
    border-style: solid;
    font-size: 20px;
    padding: 7px;
  }
  
  .choosecolor{
    border-width: 5px;
    border-color: blue;
    border-style: solid;
    padding: 7px;
  }
  
  .cardimg{
    border-width: 5px;
    border-color: green;
    border-style: solid;
    padding: 7px;
  }
  
  .changebg{
    border-width: 5px;
    border-color: pink;
    border-style: solid;
    padding: 7px;
  }