@font-face {
    font-family: CafeMatcha;
    src: url(../font/CafeMatcha.ttf) format('tff');
}

.row {
    max-width: fit-content;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: CafeMatcha;
    color: #882d2d;
}

nav {
    color: black;
}